* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: monospace;
}

.contenido  {
    width: 960px;
    margin: 0 auto;
}

._menu {
    width: auto;
    padding: 10px;
    border-bottom: 1px solid gray
}

.logo {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

.nav {

    width: 840px;
    padding-left: 55%;
  
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
   
    
}

.input-menu {
    border-radius: 30px;
}


