* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.nav {
    width: 960px;
    margin: 0 auto;
}

.row {
    width: 960px;
    padding: 10px;
    border-bottom: 1px solid gray
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

